# Task for question 3
- create a pipeline/ script that gets the data and store it into local postgres

- dockerize the script 

- run the docker image wiht parameters

data - https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz


STEPS
1. Create a docker compose that runs postgres and pgadmin
2. Connect to the database and run the script on it that creates the table and insert data

In [11]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
from time import time

In [2]:
green = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression='gzip')
green.head()

/var/folders/4q/1m012dp12171snbzxvvcncdr0000gn/T/ipykernel_18749/924426790.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression='gzip')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [3]:
print(pd.io.sql.get_schema(green, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [9]:
green['lpep_pickup_datetime'] = pd.to_datetime(green['lpep_pickup_datetime'])
green['lpep_dropoff_datetime'] = pd.to_datetime(green['lpep_dropoff_datetime'])

# Connect to postgres

In [6]:
connection_string = 'postgresql://root:root@localhost:5431/ny_taxi'

# Create the engine
engine = create_engine(connection_string)

In [7]:
green.head(0).to_sql(con=engine, name='green_taxi_trips', if_exists='replace')

0

In [8]:
tables = engine.connect().execute(text("SELECT table_name FROM information_schema.tables where table_schema='public'"))

tables.fetchall()

[('yellow_taxi_trips',), ('zones_lookup',), ('green_taxi_trips',)]

In [15]:
green_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression='gzip' , iterator=True, chunksize=100000, low_memory=False)
while True:
    start_time = time()
    df = next(green_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(con=engine, name='green_taxi_trips', if_exists = 'append')
    end_time = time()
    print('inserted another chunk... it took %.3f seconds' % (end_time - start_time))

inserted another chunk... it took 6.788 seconds
inserted another chunk... it took 7.077 seconds
inserted another chunk... it took 7.567 seconds
inserted another chunk... it took 7.669 seconds
inserted another chunk... it took 3.242 seconds

StopIteration: